@use 'sass:color';

$menu-background: rgb(74, 74, 74);

.menu {
    nav {
        background-color: $menu-background;
        z-index: 1;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
        position: absolute;

        ul {
            margin-top: 1em;
            padding: 3px;

            li {
                list-style: none;

                a,
                a:visited {
                    text-decoration: none;
                    color: white;
                    padding-left: 1em;
                    padding-right: 1em;
                }

                &:hover {
                    background-color: color.adjust($color: $menu-background, $lightness: 15%);
                }

                .active {
                    background-color: color.adjust($color: $menu-background, $lightness: 15%);
                    border-left: solid rgb(20, 190, 190);
                }
            }
        }
    }
}