.display {
    text-transform: uppercase;
    text-align: end;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    margin: 5px;
    padding: 0 5px 0 5px;
    border: 1px solid black;
    overflow-x: auto;
}