.cities {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            cursor: pointer;
        }
    }

    border-right: 1px solid white;
    padding: 0 1em 0 1em;
    user-select: none;

    .wait {
        cursor: wait;
    }
}