.show-player {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;

    img {
        width: 50px;
    }

    .player {
        border: 5px solid transparent;
        padding: 5px;

        img {
            filter: grayscale(100%);
        }
    }

    .selected {
        border: 5px solid red;

        img {
            filter: none;
        }
    }

}