.show-player {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;

    .player {
        border: 5px solid black;
        padding: 5px;
    }
    .selected {
        border: 5px solid red;
    }
    img {
        width: 50px;
    }
}