body {
    width: 90vw;
    margin: 0 auto;
}

.item-title {
    color: transparent;
    justify-self: left;
    align-self: flex-start;
    z-index: 1;
    position: absolute;
    font-size: .7em;
    padding: 2px;
    cursor: help;

    &:hover {
        color: black;
        background-color: beige;
    }
}